.header {
  width: 100vw;
  height: 110rem;
  overflow-x: hidden; }
  .header__container {
    width: 100%;
    height: 100%;
    position: relative; }
    .header__container .header-main-img {
      display: block;
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%; }
    .header__container .header-right-column {
      width: 10rem;
      height: 100%;
      position: absolute;
      right: 0;
      background-color: #343434;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      .header__container .header-right-column .header-burger-menu {
        display: flex;
        flex-direction: column;
        width: 3rem;
        height: 3rem;
        justify-content: space-between;
        margin-top: 2rem; }
        .header__container .header-right-column .header-burger-menu .burger-line {
          background-color: #F7FFF7;
          width: 3rem;
          height: 0.2rem; }
      @media screen and (max-width: 800px) {
        .header__container .header-right-column .header-burger-menu.header-burger-menu {
          display: none;
          margin-top: 0;
          margin-left: 2rem; } }
      .header__container .header-right-column .burger-menu--shadow {
        display: none;
        flex-direction: column;
        width: 3rem;
        height: 3rem;
        justify-content: space-between;
        margin-top: 2rem; }
        .header__container .header-right-column .burger-menu--shadow .burger-line--shadow {
          background-color: #F7FFF7;
          width: 3rem;
          height: 0.2rem; }
      @media screen and (max-width: 800px) {
        .header__container .header-right-column .burger-menu--shadow.burger-menu--shadow {
          display: flex;
          margin-top: 0;
          margin-left: 2rem; } }
      .header__container .header-right-column .nav-icon-5 {
        position: relative;
        cursor: pointer; }
      .header__container .header-right-column .nav-icon-5 .line-nav {
        position: absolute;
        transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
        transition-duration: 500ms; }
      .header__container .header-right-column .nav-icon-5 .line-nav:nth-child(1) {
        top: 0rem;
        left: 0rem; }
      .header__container .header-right-column .nav-icon-5 .line-nav:nth-child(2) {
        top: 1.3rem;
        left: 0rem;
        opacity: 1; }
      .header__container .header-right-column .nav-icon-5 .line-nav:nth-child(3) {
        bottom: 0rem;
        left: 0rem; }
      .header__container .header-right-column .nav-icon-5:not(.open):hover .line-nav:nth-child(1) {
        transform: rotate(-3deg) scaleY(1.1); }
      .header__container .header-right-column .nav-icon-5:not(.open):hover .line-nav:nth-child(2) {
        transform: rotate(3deg) scaleY(1.1); }
      .header__container .header-right-column .nav-icon-5:not(.open):hover .line-nav:nth-child(3) {
        transform: rotate(-4deg) scaleY(1.1); }
      .header__container .header-right-column .nav-icon-5.open .line-nav:nth-child(1) {
        transform: rotate(45deg);
        top: 1.3rem; }
      .header__container .header-right-column .nav-icon-5.open .line-nav:nth-child(2) {
        opacity: 0; }
      .header__container .header-right-column .nav-icon-5.open .line-nav:nth-child(3) {
        transform: rotate(-45deg);
        top: 1.3rem; }
      .header__container .header-right-column .nav-icon--shadow {
        position: relative;
        cursor: pointer; }
      .header__container .header-right-column .nav-icon--shadow .line-nav--shadow {
        position: absolute;
        transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
        transition-duration: 500ms; }
      .header__container .header-right-column .nav-icon--shadow .line-nav--shadow:nth-child(1) {
        top: 0rem;
        left: 0rem; }
      .header__container .header-right-column .nav-icon--shadow .line-nav--shadow:nth-child(2) {
        top: 1.3rem;
        left: 0rem;
        opacity: 1; }
      .header__container .header-right-column .nav-icon--shadow .line-nav--shadow:nth-child(3) {
        bottom: 0rem;
        left: 0rem; }
      .header__container .header-right-column .nav-icon--shadow:not(.open):hover .line-nav--shadow:nth-child(1) {
        transform: rotate(-3deg) scaleY(1.1); }
      .header__container .header-right-column .nav-icon--shadow:not(.open):hover .line-nav--shadow:nth-child(2) {
        transform: rotate(3deg) scaleY(1.1); }
      .header__container .header-right-column .nav-icon--shadow:not(.open):hover .line-nav--shadow:nth-child(3) {
        transform: rotate(-4deg) scaleY(1.1); }
      .header__container .header-right-column .nav-icon--shadow.open .line-nav--shadow:nth-child(1) {
        transform: rotate(45deg);
        top: 1.3rem; }
      .header__container .header-right-column .nav-icon--shadow.open .line-nav--shadow:nth-child(2) {
        opacity: 0; }
      .header__container .header-right-column .nav-icon--shadow.open .line-nav--shadow:nth-child(3) {
        transform: rotate(-45deg);
        top: 1.3rem; }
      .header__container .header-right-column .column-main-menu {
        display: none;
        flex-direction: column;
        text-align: center;
        height: 30rem;
        width: 35rem;
        justify-content: space-between; }
        .header__container .header-right-column .column-main-menu .menu-link-box {
          display: flex;
          transition: all .2s;
          align-self: center;
          justify-self: center; }
          .header__container .header-right-column .column-main-menu .menu-link-box:hover {
            padding: 2rem;
            border: 2px solid #F7FFF7;
            border-radius: 10px; }
          .header__container .header-right-column .column-main-menu .menu-link-box .link-icon {
            width: 3rem;
            height: 3rem;
            display: none; }
          .header__container .header-right-column .column-main-menu .menu-link-box .icon--left {
            margin-right: 1rem; }
          .header__container .header-right-column .column-main-menu .menu-link-box .icon--right {
            margin-left: 1rem; }
          .header__container .header-right-column .column-main-menu .menu-link-box:hover .link-icon {
            display: inline; }
        .header__container .header-right-column .column-main-menu .column-menu-link {
          font-family: sans-serif;
          font-weight: 600;
          font-size: 3rem;
          color: #F7FFF7;
          text-decoration: none;
          align-self: center;
          justify-self: center; }
        @media screen and (max-width: 500px) {
          .header__container .header-right-column .column-main-menu .column-menu-link.column-menu-link {
            font-size: 2rem; } }
        @media screen and (max-width: 400px) {
          .header__container .header-right-column .column-main-menu .column-menu-link.column-menu-link.column-menu-link {
            font-size: 1.5rem; } }
      .header__container .header-right-column .column-icon {
        width: 4rem;
        height: 4rem;
        margin-bottom: 2rem;
        transition: all .2s; }
        .header__container .header-right-column .column-icon:hover {
          cursor: pointer;
          transform: scale(1.1); }
      @media screen and (max-width: 800px) {
        .header__container .header-right-column .column-icon.column-icon {
          display: none; } }
      .header__container .header-right-column .column-icon--shadow {
        display: none;
        width: 4rem;
        height: 4rem;
        margin-bottom: 2rem;
        transition: all .2s; }
        .header__container .header-right-column .column-icon--shadow:hover {
          cursor: pointer;
          transform: scale(1.1); }
      @media screen and (max-width: 800px) {
        .header__container .header-right-column .column-icon--shadow.column-icon--shadow {
          display: inline;
          margin-bottom: 0;
          margin-right: 2rem; } }
    @media screen and (max-width: 800px) {
      .header__container .header-right-column.header-right-column {
        width: 100%;
        height: 10rem;
        bottom: 0;
        flex-direction: row;
        justify-items: center;
        align-items: center; } }
    .header__container .header-icon-left {
      width: 5rem;
      height: 5rem;
      position: absolute;
      left: 0;
      top: 0;
      margin-left: 3rem;
      margin-top: 2rem; }
    @media screen and (max-width: 650px) {
      .header__container .header-icon-left.header-icon-left {
        display: none; } }
    .header__container .main-header-block {
      position: absolute;
      left: 50%;
      top: 0.5rem;
      transform: translate(-50%, -0.5rem);
      display: flex;
      flex-direction: column; }
      .header__container .main-header-block .poster-block {
        position: relative;
        width: 100%; }
      .header__container .main-header-block .poster-icon {
        width: 60rem;
        height: 25rem; }
      @media screen and (max-width: 300px) {
        .header__container .main-header-block .poster-icon.poster-icon.poster-icon.poster-icon.poster-icon.poster-icon.poster-icon.poster-icon {
          transform: scale(0.5); } }
      @media screen and (max-width: 350px) {
        .header__container .main-header-block .poster-icon.poster-icon.poster-icon.poster-icon.poster-icon.poster-icon.poster-icon {
          transform: scale(0.55); } }
      @media screen and (max-width: 400px) {
        .header__container .main-header-block .poster-icon.poster-icon.poster-icon.poster-icon.poster-icon.poster-icon {
          transform: scale(0.6); } }
      @media screen and (max-width: 450px) {
        .header__container .main-header-block .poster-icon.poster-icon.poster-icon.poster-icon.poster-icon {
          transform: scale(0.7); } }
      @media screen and (max-width: 500px) {
        .header__container .main-header-block .poster-icon.poster-icon.poster-icon.poster-icon {
          transform: scale(0.8); } }
      @media screen and (max-width: 700px) {
        .header__container .main-header-block .poster-icon.poster-icon.poster-icon {
          transform: scale(0.9); } }
      @media screen and (max-width: 850px) {
        .header__container .main-header-block .poster-icon.poster-icon {
          width: 50rem;
          height: 20rem; } }
      .header__container .main-header-block .poster-title {
        font-family: sans-serif;
        font-size: 5rem;
        font-weight: 700;
        color: #F7FFF7;
        text-transform: uppercase;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); }
      @media screen and (max-width: 400px) {
        .header__container .main-header-block .poster-title.poster-title.poster-title.poster-title.poster-title {
          font-size: 2rem; } }
      @media screen and (max-width: 500px) {
        .header__container .main-header-block .poster-title.poster-title.poster-title.poster-title {
          font-size: 2.5rem; } }
      @media screen and (max-width: 700px) {
        .header__container .main-header-block .poster-title.poster-title.poster-title {
          font-size: 3rem; } }
      @media screen and (max-width: 850px) {
        .header__container .main-header-block .poster-title.poster-title {
          font-size: 4rem; } }
      .header__container .main-header-block .form-collection {
        margin-top: 3rem;
        width: 55rem;
        height: 70rem;
        background-color: #F7FFF7;
        border-radius: 0.5rem;
        border: none;
        align-self: center;
        justify-self: center;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        justify-content: space-around; }
        .header__container .main-header-block .form-collection .forms-title {
          font-family: sans-serif;
          font-weight: 700;
          font-size: 5rem;
          color: #343434;
          text-transform: uppercase; }
        .header__container .main-header-block .form-collection .form-item {
          width: 80%;
          height: 6rem;
          background-color: rgba(52, 52, 52, 0.65);
          color: #F7FFF7;
          border: none;
          border-radius: 1rem;
          font-family: sans-serif;
          font-size: 4rem;
          text-align: center;
          transition: all .2s; }
          .header__container .main-header-block .form-collection .form-item:focus {
            outline: none;
            border-bottom: 3px solid #343434; }
          .header__container .main-header-block .form-collection .form-item:focus:invalid {
            border-bottom: 3px solid red; }
          .header__container .main-header-block .form-collection .form-item::-webkit-input-placeholder {
            color: #F7FFF7;
            text-align: center; }
          .header__container .main-header-block .form-collection .form-item:-moz-placeholder {
            color: #F7FFF7;
            text-align: center; }
          .header__container .main-header-block .form-collection .form-item::-moz-placeholder {
            color: #F7FFF7;
            text-align: center; }
          .header__container .main-header-block .form-collection .form-item:-ms-input-placeholder {
            color: #F7FFF7;
            text-align: center; }
          .header__container .main-header-block .form-collection .form-item::placeholder {
            color: #F7FFF7;
            text-align: center; }
        .header__container .main-header-block .form-collection .forms-btn {
          width: 70%;
          height: 6rem;
          background-color: #343434;
          border: none;
          border-radius: 1rem;
          transition: all .2s; }
          .header__container .main-header-block .form-collection .forms-btn:hover {
            cursor: pointer;
            box-shadow: 0 5px 3px 3px rgba(52, 52, 52, 0.65); }
          .header__container .main-header-block .form-collection .forms-btn .forms-btn-text {
            font-family: sans-serif;
            font-size: 4rem;
            font-weight: 700;
            color: #F7FFF7;
            text-transform: uppercase; }
      @media screen and (max-width: 550px) {
        .header__container .main-header-block .form-collection.form-collection.form-collection {
          width: 100vw; } }
      @media screen and (max-width: 850px) {
        .header__container .main-header-block .form-collection.form-collection {
          width: 50rem; } }
    .header__container .main-warning {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -2rem);
      visibility: hidden;
      opacity: 0;
      font-family: sans-serif;
      font-size: 2rem;
      font-weight: 500;
      text-align: center;
      color: #F7FFF7; }
      .header__container .main-warning .warning--decorate {
        text-decoration: underline;
        color: inherit; }
        .header__container .main-warning .warning--decorate:hover {
          cursor: pointer; }
    .header__container .main-warning--window {
      display: none;
      width: 100%;
      height: 10rem;
      position: absolute;
      bottom: 0;
      background-color: #F7FFF7;
      justify-content: space-between;
      border: 2px solid #343434; }
      .header__container .main-warning--window .warn-text--shadow {
        font-family: sans-serif;
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
        color: #343434;
        align-self: center;
        justify-self: center; }
        .header__container .main-warning--window .warn-text--shadow .warning--decorate1 {
          text-decoration: underline;
          color: inherit; }
          .header__container .main-warning--window .warn-text--shadow .warning--decorate1:hover {
            cursor: pointer; }
      @media screen and (max-width: 450px) {
        .header__container .main-warning--window .warn-text--shadow.warn-text--shadow {
          font-size: 1.7rem; } }
      .header__container .main-warning--window .warn-close {
        font-size: 3rem;
        color: #343434;
        text-decoration: none;
        right: 0;
        top: 0;
        margin-top: 1rem;
        margin-right: 1rem; }

@keyframes speen {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.new-header {
  width: 100vw;
  height: 110rem;
  background-color: #d8d3d3; }
  .new-header__container {
    width: 100%;
    height: 100%;
    position: relative; }
    .new-header__container .nh-content-block {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 95%;
      height: 90%;
      background-color: #343434;
      border: none;
      border-radius: 5px;
      display: flex;
      justify-content: space-around;
      box-shadow: 0 5px 8px #343434; }
      .new-header__container .nh-content-block .content-in-block {
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
        .new-header__container .nh-content-block .content-in-block .content-welcome {
          font-family: sans-serif;
          font-size: 3rem;
          color: #F7FFF7;
          justify-self: center;
          align-self: center; }
        @media screen and (max-width: 850px) {
          .new-header__container .nh-content-block .content-in-block .content-welcome.content-welcome {
            font-size: 2rem; } }
        @media screen and (max-width: 350px) {
          .new-header__container .nh-content-block .content-in-block .content-welcome.content-welcome.content-welcome {
            font-size: 1.5rem;
            font-weight: 800; } }
        .new-header__container .nh-content-block .content-in-block .content-panels-collection {
          display: flex;
          flex-direction: column;
          overflow-y: scroll;
          width: 100%;
          height: 50rem;
          justify-content: space-between; }
          .new-header__container .nh-content-block .content-in-block .content-panels-collection .panel-item {
            width: 100%;
            height: 5rem;
            background-color: #F7FFF7;
            border-radius: 1rem;
            border: none;
            display: flex;
            justify-content: space-around;
            align-items: center; }
            .new-header__container .nh-content-block .content-in-block .content-panels-collection .panel-item__status1 {
              font-family: sans-serif;
              font-size: 2rem;
              color: #343434;
              text-transform: uppercase; }
            @media screen and (max-width: 350px) {
              .new-header__container .nh-content-block .content-in-block .content-panels-collection .panel-item .panel-item__status1.panel-item__status1 {
                font-size: 1.3rem;
                font-weight: 700; } }
            .new-header__container .nh-content-block .content-in-block .content-panels-collection .panel-item__status2 {
              font-family: sans-serif;
              font-size: 2rem;
              color: #6b6969;
              text-transform: uppercase; }
            @media screen and (max-width: 350px) {
              .new-header__container .nh-content-block .content-in-block .content-panels-collection .panel-item .panel-item__status2.panel-item__status2 {
                font-size: 1.3rem;
                font-weight: 700; } }
            .new-header__container .nh-content-block .content-in-block .content-panels-collection .panel-item__data {
              font-family: sans-serif;
              font-size: 2rem;
              color: #343434; }
            @media screen and (max-width: 350px) {
              .new-header__container .nh-content-block .content-in-block .content-panels-collection .panel-item .panel-item__data.panel-item__data {
                font-size: 1.3rem;
                font-weight: 700; } }
            .new-header__container .nh-content-block .content-in-block .content-panels-collection .panel-item__summ {
              font-family: sans-serif;
              font-size: 2rem;
              color: #343434; }
            @media screen and (max-width: 350px) {
              .new-header__container .nh-content-block .content-in-block .content-panels-collection .panel-item .panel-item__summ.panel-item__summ {
                font-size: 1.3rem;
                font-weight: 700; } }
        .new-header__container .nh-content-block .content-in-block .content-time {
          font-family: sans-serif;
          font-size: 3rem;
          color: #F7FFF7;
          justify-self: center;
          align-self: center; }
        @media screen and (max-width: 850px) {
          .new-header__container .nh-content-block .content-in-block .content-time.content-time {
            font-size: 2rem; } }
        @media screen and (max-width: 350px) {
          .new-header__container .nh-content-block .content-in-block .content-time.content-time.content-time {
            font-size: 1.5rem;
            font-weight: 800; } }
        .new-header__container .nh-content-block .content-in-block .content-sum {
          font-family: sans-serif;
          font-size: 3rem;
          color: #F7FFF7;
          justify-self: center;
          align-self: center; }
        @media screen and (max-width: 850px) {
          .new-header__container .nh-content-block .content-in-block .content-sum.content-sum {
            font-size: 2rem; } }
        @media screen and (max-width: 350px) {
          .new-header__container .nh-content-block .content-in-block .content-sum.content-sum.content-sum {
            font-size: 1.5rem;
            font-weight: 800; } }
        .new-header__container .nh-content-block .content-in-block .content-forms {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 50rem;
          justify-content: space-between; }
          .new-header__container .nh-content-block .content-in-block .content-forms .form-content {
            width: 100%;
            height: 22rem;
            background-color: #F7FFF7;
            border-radius: 1rem;
            border: none; }
            .new-header__container .nh-content-block .content-in-block .content-forms .form-content .form-container {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: space-around;
              flex-direction: column; }
              .new-header__container .nh-content-block .content-in-block .content-forms .form-content .form-container__title {
                font-family: sans-serif;
                font-size: 2rem;
                color: #343434;
                justify-self: flex-start;
                margin-left: 1rem; }
              .new-header__container .nh-content-block .content-in-block .content-forms .form-content .form-container__block {
                width: 100%;
                display: flex;
                justify-content: space-around; }
                .new-header__container .nh-content-block .content-in-block .content-forms .form-content .form-container__block .form-construct {
                  display: flex;
                  flex-direction: column; }
                  .new-header__container .nh-content-block .content-in-block .content-forms .form-content .form-container__block .form-construct .form-object {
                    width: 10rem;
                    height: 3rem;
                    outline: 4px solid #343434;
                    border: none;
                    border-radius: 1rem;
                    background-color: rgba(146, 145, 145, 0.966);
                    color: black;
                    text-align: center; }
                  @media screen and (max-width: 350px) {
                    .new-header__container .nh-content-block .content-in-block .content-forms .form-content .form-container__block .form-construct .form-object.form-object {
                      width: 7rem; } }
                  .new-header__container .nh-content-block .content-in-block .content-forms .form-content .form-container__block .form-construct .form-label {
                    font-family: sans-serif;
                    font-size: 1.5rem;
                    color: #343434;
                    margin-top: 1rem;
                    justify-self: center;
                    align-self: center; }
                .new-header__container .nh-content-block .content-in-block .content-forms .form-content .form-container__block .form-sendler {
                  width: 4rem;
                  height: 4rem;
                  border-radius: 50%;
                  border: 2px solid #343434;
                  background-color: rgba(146, 145, 145, 0.966);
                  transition: all .2s; }
                  .new-header__container .nh-content-block .content-in-block .content-forms .form-content .form-container__block .form-sendler > .sendler-arr {
                    display: block;
                    transform: scale(1.1);
                    transition: all .2s; }
                  .new-header__container .nh-content-block .content-in-block .content-forms .form-content .form-container__block .form-sendler:hover {
                    transform: scale(1.1);
                    cursor: pointer; }
                  .new-header__container .nh-content-block .content-in-block .content-forms .form-content .form-container__block .form-sendler .sendler-arr {
                    font-size: 2rem;
                    font-weight: 600;
                    color: black; }
        .new-header__container .nh-content-block .content-in-block .content-btn {
          width: 15rem;
          height: 5rem;
          background-color: #F7FFF7;
          border-radius: 1rem;
          border: 2px solid #343434;
          justify-self: center;
          align-self: center;
          font-family: sans-serif;
          font-size: 2rem;
          color: #343434;
          text-transform: uppercase; }
      @media screen and (max-width: 750px) {
        .new-header__container .nh-content-block .content-in-block.content-in-block {
          width: 90%; } }
    @media screen and (max-width: 750px) {
      .new-header__container .nh-content-block.nh-content-block {
        flex-direction: column;
        align-items: center; } }

@media screen and (max-width: 750px) {
  .new-header.new-header {
    height: 150rem; } }

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  box-sizing: border-box; }

@media screen and (max-width: 350px) {
  .html.html {
    font-size: 58%; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }
